In [3]:
import numpy as np

In [2]:
# N5

X_bar = 89.9
sd = 11.3
n = 20

d1 = X_bar - 2.093 * sd / n ** 0.5
d2 = X_bar + 2.093 * sd / n ** 0.5

print((d1, d2))

(84.61149798709502, 95.18850201290499)

In [2]:
x1_bar = 45 # men
x2_bar = 34 # women

s1 = 9   # men
s2 = 10  # women

n1 = 100
n2 = 100

In [4]:
se = np.sqrt(
    s1**2 / n1 + s2**2 / n2
)
se

1.3453624047073711

In [8]:
t = (x1_bar - x2_bar) / se

In [9]:
t

8.176235608718828

In [11]:
df = n1+n2 - 2
df

198